header {
    display: block;
    text-align: center;
    font-size: 36px;
    padding-bottom: 12px;
    margin-bottom: 6px;
    border-bottom: 3px solid;
}

section {
    display:block;
    float:right;
    width: 100%;
}

footer{
    clear: both;
    text-align: center;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 3px solid;
    font-style: italic;
    font-size: 22px;
}

.esquerdo {
    display:block;
    text-align: left;
    float:left;
    width: 100%;
}

.central {
    clear: both;
    text-align: center;
}

.direito {
    display:block;
    text-align: right;
    float: right;
    width: 100%;
}